body{
    background:#ebdbb2;
    margin: 0;
    padding: 0;
}
.homewrapper{
    width: 60%;
    margin: auto;
    background-color: white;
}
.block{
    width: 100%;
    height: 50px;
}
.home-intro{
    background: #b4923c;
    border: 1px solid;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto 50px auto;
    
}
.home-intro-title{
    color: #000000;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding-top:20px;
}
.home-intro-text{
    font-size: 20px;
    line-height: 25px;
    padding: 20px 20px 20px 20px;
    line-height: 30px;
}
.home-ul{
    display: flex;
    padding: 50px 0 50px 0;
}
.home-ul-detial{
    margin: auto;
    font-size: 22px;
    line-height: 30px;
}
.home-provide{
    display: flex;
    gap:30px;
    margin-top: 50px;
    padding: 0 20px 0 20px;
}
.home-part{
    
}
.home-part-img1{
    width: 150px;
    height: 150px;
    margin: auto;
}
.part-img1{
    height: 150px;
}
.part-title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
.part-text{
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    margin-top: 20px;
}
.home-part-img2{
    width: 150px;
    margin: 20px auto 0 auto;
   
}
.part-img2{
    height: 50px;
}

@media (max-width: 1483px) {
    .home-provide{
        display: grid;
        padding: 0 100px 0 100px;
        
    }
}
@media screen and (max-width: 843px) {
    .homewrapper{
        width: 100%;
    }
}
@media screen and  (max-width: 753px) {
    .home-provide{
        
        padding: 0 50px 0 50px;
        
    }
}
@media screen and  (max-width: 490px) {
    .home-provide{
        
        padding: 0 20px 0 20px;
        
    }
}