.labwrapper{
    width: 60%;
    margin: auto;
    background-color: white;
}
.labpage-part{
    width: 70%;
    margin: 10px auto 0 auto;
    padding-bottom: 10px;
}
.labpage-subtitle{
    font-size: 40px;
    font-weight: 500;
    border-bottom: 1px solid #000;
}
.overview-detial{
    display: flex;
    justify-content: center;
    gap:30px;
    padding-top: 30px;
}
.overview-img{
    width: 120px;
    height:120px;
}
.overview-text{
    font-size: 23px;
    line-height: 30px;
}
.labpage-ul1{
    font-size: 23px;
    line-height: 30px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}
.labpage-ul2{
    font-size: 23px;
    line-height: 30px;
    
    
}
.labpage-ul2 p{
    font-weight: 800;
    display: inline;
    
}
@media screen and (max-width: 1100px) {
      .overview-detial{
          display: grid;
          text-align: justify;
      }
      .overview-imge{
          margin: auto;
    }
    }
@media screen and (max-width: 843px) {
    .labwrapper{
        width: 100%;
    }
    
  }
