.footerwrapper{
    background:#B59A57;
    width: 60%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.copyright{
	
    font-weight: bold;
    
}

.headerwrapper{

    background:#B59A57;
    width: 60%;
    margin: auto;
    display: flex;
    
}

.navbar-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap:40px;
    
    
}
.header-logo{
    display: flex;
    gap: 40px;
    
}
.navbar-logo {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: 100px;
    
}
.header-logo{
    padding: 5px 0 5px 5px;
}

.img1{
    width: 100px;
    height: 100px;
}
.oulogo{
    width: 100px;
    height: 100px;
}
.navbar-ul{
    list-style: none;
    display: flex;
    gap:40px;
}
.nav-item a{
    font-size: 20px;
    color: #666666;
    text-shadow: 0px 0px 0px#000;
    text-decoration: none;
}

.menu-icon {
    display: none;
    
}
.navigation{}

@media screen and (max-width: 1400px) {

    .navbar-ul{
        display: none;
    }
  
    .menu-icon {
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
        color: #fff;
        margin-top: 30px;
        margin-right: 50px;
        
    }   
    .navbar-ul.active {
        display: flex;
        flex-direction: column;
        top: 90px;
        position: absolute;
        left: 20%;
        gap: 10px;
        background-color: #B59A57;
        width: 60%;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        
        
    }

}
@media screen and (max-width: 843px) {
    .navbar-logo {
        
        
    }
    .headerwrapper{

        
        width: 100%;
       
        
    }
    .footerwrapper{
        
        width: 100%;
        
    }
    .navbar-ul.active {
       
        top: 94px;
        position: absolute;
        left: 0px;
        width: 100%;
        
        
        
    }
}

@media screen and  (max-width: 753px) {
    .navbar-logo {
        
        
        
    }
}
@media screen and  (max-width: 720px) {
    .header-logo{
       
      
        
    }
}
@media screen and  (max-width: 640px) {
    .footerwrapper{
        
        height: 50px;
        
    }
    .copyright{
        
        text-align: center;
        
    }
    .oulogo{
        width: 60px;
        height: 60px;
        margin-top: 20px;
    }
    .img1{
        width: 60px;
        height: 60px;
    }
    

}
@media screen and  (max-width: 485px) {
    .navbar-logo {
        
        font-size: 24px;
        
    }
    
}